@font-face {
  font-family: customFont;
  src: url(customFont.otf);
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#github-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#user-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 10px;
  justify-content: center;
  width: 100%;
}

#user-list li {
  width: 17%;
}

#repos-list {
  list-style: none;
}

.resultCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border: medium solid;
  border-radius: 5px;
  max-width: 230px;
}

.resultCard img {
  max-height: 200px;
  max-width: 200px;
}

.resultCard * {
  font-family: 'customFont'
}

.resultCard a {

}